{% extends 'base.html.twig' %}

{% block title %}Bonjour
{% endblock %}

{% block body %}
<header>
	<h1>
		Bonjour a tous</h1>
	<div class="p-3 mb-2 bg-secondary text-white"></div>
</header>
<div>
	<nav class="navbar bg-body-tertiary">
		<form class="container-fluid justify-content-start">
			<button class="btn btn-outline-success me-2" type="button">Main button</button>
			<button class="btn btn-sm btn-outline-secondary" type="button">Smaller button</button>
		</form>
	</nav>
</div>

<main>
	<div class="row row-cols-1 row-cols-md-2 g-4">
		<div class="col">
			<div class="card">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				</div>
			</div>
		</div>
	</div>
</main>


<footer></footer {% endblock %}
